* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat",Arial,sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
    height: 3000px;
}

:root {
    --normal-color: #ffffff;
    --dark-color: #000000;
    --warning-color: #d9bf77;
    --border-color: #7c7a7c;
}

/*Header*/
nav {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    height: 70px;
    z-index: 99;
    transition: all .3s ease;
}

nav .topnav {
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .topnav .logo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--normal-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

nav .topnav .logo a span {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

nav .topnav .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .topnav .nav-links .links {
    display: flex;
}

nav .topnav .nav-links .links li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

nav .topnav .nav-links .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--normal-color);
    transition: all .3s ease;
}

nav .topnav .nav-links .links li a:hover,
nav .topnav .nav-links .links li a:focus-within {
    color: var(--warning-color);
}

nav .topnav .burger {
    display: none;
    color: var(--normal-color);
    transition: all .3s ease;
}

@media only screen and (max-width: 980px) {
    nav {
        /*position: relative;*/
        /*background: var(--dark-color);*/
    }
    nav .topnav {
        padding: 0 2rem;
    }
    nav .topnav .logo a {
        color: var(--normal-color);
        font-size: 18px;
    }
    nav .topnav .logo a span {
        font-size: 11px;
    }
    nav .topnav .burger {
        display: block;
    }
    nav .topnav .nav-links {
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
        max-width: 100%;
        width: 100%;
        line-height: 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1;
        overflow: hidden;
        height: 0;
        background: var(--dark-color);
    }

    nav .topnav .nav-links.showNav {
        height: 250px;
        z-index: 99;
    }

    nav .topnav .nav-links .links {
        display: block;
        background: var(--dark-color);
        padding: 0 5px;
    }
    nav .topnav .nav-links .links li a {
        font-size: 10px;
    }
}


/*Image Slider*/
.slider .slider-container {
    position: relative;
}

.slider .slider-container .slider-info {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 40%;
}

.slider .slider-container .slider-info h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 63.8px;
    color: rgb(255, 255, 255);
}

.slider .slider-container .slider-info .slider-desc {
    margin-top: 3rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(153, 153, 153);
}

.slider .slider-container .slider-info .slider-btn {
    margin-top: 50px;
}

